In [37]:
l = [1,2,3,4,5,'hi','nagesh',125.54]

In [38]:
for i in l:
    print(i)

1
2
3
4
5
hi
nagesh
125.54

In [39]:
 for i in l :
        print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [40]:
for i in l:
    if type(i)==int:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))
    elif type(i)==float:
        print(i+1)

2
3
4
5
6
hi1
nagesh1
126.54

In [41]:
for i in l:
    if type(i)==int or type(i)==float :
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
4
5
6
hi1
nagesh1
126.54

In [42]:
l

[1, 2, 3, 4, 5, 'hi', 'nagesh', 125.54]

In [43]:

l1 = []
l2 = []
for i in l:
    if type(i)==int:
        l1.append(i)
    elif type(i)==str:
        l2.append(i)
print('l1=',l1)
print('l2=',l2)

l1= [1, 2, 3, 4, 5]
l2= ['hi', 'nagesh']

In [44]:
l

[1, 2, 3, 4, 5, 'hi', 'nagesh', 125.54]

In [45]:
for i in l :
    pass

In [46]:
for i in l :
    
    pass

In [47]:
s = "Nagesh"
for i in s :
    print(i)

N
a
g
e
s
h

In [48]:
for i in l:
    print(i)
else:
    print('if for loop completed then it will executed')
# else will exwcuted when for loop end

1
2
3
4
5
hi
nagesh
125.54
if for loop completed then it will executed

In [49]:
for i in l :
    if i == 4:
        break
    print(i)
else:
    print('else part') # this will not in output as for loop id breaks in between

1
2
3

In [50]:
n = "Nagesh"
for i in n:
    if i == 's':
        break
    print(i)
else:
    print('print string = ',s)

N
a
g
e

In [51]:
t = (3,4,4,6,6,6,7,'nagesh')

In [52]:
for i in t:
    print(i)

3
4
4
6
6
6
7
nagesh

In [53]:
s = {2,3,4,5,5,5,5,5,6,7,58,9,56,4,32,'nagesh'}

In [54]:
for i in s:
    print(i)

32
2
3
4
5
6
7
nagesh
9
56
58

In [55]:
 d  = {'k1':"nagesh",'contact':'nagesh123@.com','Mo_no':12345}

In [56]:
for i in d:
    print(i)

k1
contact
Mo_no

In [57]:
print(d['k1'])

nagesh

In [58]:
for i in d:
    print(d[i])  # this will give the values of dictionary

nagesh
nagesh123@.com
12345

In [59]:
for i in d:
    print(i, ":", d[i]) # keys and values print

k1 : nagesh
contact : nagesh123@.com
Mo_no : 12345

*
**
***
****

In [60]:
range(9) # this is funtion which will generate data set upto upper bound

range(0, 9)

In [61]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [62]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [63]:
range(0,9)

range(0, 9)

In [64]:
range(2,10)

range(2, 10)

In [65]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
list(range(1,9,2))

[1, 3, 5, 7]

In [67]:
list(range(1,9,-1))

[]

In [68]:
list(range(-10,0,2))

[-10, -8, -6, -4, -2]

In [69]:
n = 4 
for i in range(4):
    for j in range(0,i+1):
        print("*",end = " ")
    print('\n')

*

* *

* * *

* * * *

In [70]:
n = int(input('enter the numbers or rows = ')) 
for i in range(n):
    for j in range(0,i+1):
        print("*",end = " ")
    print('\n')

enter the numbers or rows =

ValueError: invalid literal for int() with base 10: ''

In [71]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [72]:
for i in range(5):
    for j in range(i,5):
        print("*",end=" ")
    print('\n')

* * * * *

* * * *

* * *

* *

*

In [73]:
for i in range(0,50,2):
    print(i,end='      ')
print('\n')

0      2      4      6      8      10      12      14      16      18      20      22      24      26      28      30      32      34      36      38      40      42      44      46      48

In [74]:
for i in range(0,10,2):
    for i in range(i):
        print('*',end=' ')
    print('\n')

* *

* * * *

* * * * * *

* * * * * * * *

In [75]:
for i in range(5):
    for j in range(5):
        #if i == j:
            print('*',end='   ')
    print('\n')

*   *   *   *   *

*   *   *   *   *

*   *   *   *   *

*   *   *   *   *

*   *   *   *   *

In [76]:
for i in range(5):
    for j in range(5):
        #if i == j:
            print(i,end='   ')
    print('\n')

0   0   0   0   0

1   1   1   1   1

2   2   2   2   2

3   3   3   3   3

4   4   4   4   4

In [77]:
for i in range(5):
    for j in range(5):
        #if i == j:
            print(j,end='   ')
    print('\n')

0   1   2   3   4

0   1   2   3   4

0   1   2   3   4

0   1   2   3   4

0   1   2   3   4

In [78]:
for i in range(5):
    for j in range(5):
        #if i == j:
            print(i,j,end='   ')
    print('\n')

0 0   0 1   0 2   0 3   0 4

1 0   1 1   1 2   1 3   1 4

2 0   2 1   2 2   2 3   2 4

3 0   3 1   3 2   3 3   3 4

4 0   4 1   4 2   4 3   4 4

In [79]:
for i in range(5):
    for j in range(5):
        if j >= i:
            print(i,j,end='   ')
    print('\n')

0 0   0 1   0 2   0 3   0 4

1 1   1 2   1 3   1 4

2 2   2 3   2 4

3 3   3 4

4 4

In [80]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*',end='   ')
    print('\n')

*

*   *

*   *   *

*   *   *   *

*   *   *   *   *

In [81]:
for i in range(5):
    for j in range(5):
        if j >= i:
            print('*',end='   ')
    print('\n')

*   *   *   *   *

*   *   *   *

*   *   *

*   *

*

In [82]:
for i in range(5):
    for j in range(5):
        #if j == i:
            print('*',end=i*'   ')
    print('\n')

*****

*   *   *   *   *

*      *      *      *      *

*         *         *         *         *

*            *            *            *            *

In [83]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end=' ')
    print('\n')

*

* *

* * *

* * * *

* * * * *

In [84]:
for i in l: # we need to write in the loop body if not then write pass

IndentationError: expected an indented block (3424522233.py, line 1)

In [85]:
for i in l:
    pass

In [86]:
s = "abcdefg"

In [87]:
for i in s:
    print(i)

a
b
c
d
e
f
g

In [88]:
for i in l:
    print(i)
else:
    print('else condition with for loop')

1
2
3
4
5
hi
nagesh
125.54
else condition with for loop

In [90]:
for i in l:
    print(i)
    if i == 5:
        break # break will end up the loop  
else:
    print("else condition with for loop")

1
2
3
4
5

In [91]:
t = (1,2,3,4,'nagesh',14.56)

In [92]:
for i in t:
    print(i)

1
2
3
4
nagesh
14.56

In [93]:
s = {1,1,1,2,2,2,3,34,5,5,4,5,45,"nag",'hello','love'}

In [94]:
for i in s:
    print(i)

1
2
3
34
5
4
nag
45
hello
love

In [95]:
print(s)

{1, 2, 3, 34, 5, 4, 'nag', 45, 'hello', 'love'}

In [101]:
for i in range(5):
    for j in range(i):
        print("nag",end= ' ')
    print('\n')

nag

nag nag

nag nag nag

nag nag nag nag

In [102]:
list(range(1,20,3))

[1, 4, 7, 10, 13, 16, 19]

In [103]:
list(range(0,10,-1))

[]

In [106]:
list(range(100,0,-10))

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [107]:
n = 4
for i in range(n):
    for j in range(i+1):
        print("nagesh",end=' ')
    print('\n')

nagesh

nagesh nagesh

nagesh nagesh nagesh

nagesh nagesh nagesh nagesh

In [3]:
s = 'nag'
for i in range(5):
    s.center(i+6,)

In [4]:
s.center(10,'*')

'***nag****'

In [5]:
l = [1,1,1,12,323,34,"nagesh",231.45]

In [6]:
for i in l :
    print(i)

1
1
1
12
323
34
nagesh
231.45

In [7]:
for i in l :
    print(i)
else:
    print("else ")

1
1
1
12
323
34
nagesh
231.45
else

In [8]:
for i in l :
    print(i)
    if i == 12:
        break
else:
    print("else ")

1
1
1
12

In [11]:
n = "nagesh meshram"
for i in n:
    if i == 'p' :
        break
    print(i)
else : 
    print('print string', n)

n
a
g
e
s
h

m
e
s
h
r
a
m
print string nagesh meshram

In [12]:
n = "nagesh meshram"
for i in n:
    if i == 'm' :
        break
    print(i)
else : 
    print('print string', n)

n
a
g
e
s
h

In [13]:
t = (2,4,6,8,3,5,6,8,"cement plant")

In [14]:
for i in t:
    print(i)

2
4
6
8
3
5
6
8
cement plant

In [15]:
list(range(5))

[0, 1, 2, 3, 4]

In [16]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [17]:
list(range(0,15,2))

[0, 2, 4, 6, 8, 10, 12, 14]

In [18]:
for i in range(5):
    for j in range(5):
        if j == 3 & i == 0:
            print(len("nag")*' ',"nag",end=" ")

    nag     nag

In [20]:
for i in range(5):
    for j in range(i+1):
        print("nag",end=' ')
    print('\n')

nag

nag nag

nag nag nag

nag nag nag nag

nag nag nag nag nag

In [25]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("nag"),end = ' ')
    for j in range(i+1):
        print("nag",end = ' ')
    for j in range(i):
        print('nag',end = ' ')
    print()

        nag
    nag nag nag
nag nag nag nag nag

In [23]:
n = int(input("enter the number of rows = " ))
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("nag"),end = ' ')
    for j in range(i+1):
        print("nag",end = ' ')
    for j in range(i):
        print('nag',end = ' ')
    print()

enter the number of rows = 10
                                    nag
                                nag nag nag
                            nag nag nag nag nag
                        nag nag nag nag nag nag nag
                    nag nag nag nag nag nag nag nag nag
                nag nag nag nag nag nag nag nag nag nag nag
            nag nag nag nag nag nag nag nag nag nag nag nag nag
        nag nag nag nag nag nag nag nag nag nag nag nag nag nag nag
    nag nag nag nag nag nag nag nag nag nag nag nag nag nag nag nag nag
nag nag nag nag nag nag nag nag nag nag nag nag nag nag nag nag nag nag nag

In [24]:
n = int(input("enter the number of rows = " ))
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("*"),end = ' ')
    for j in range(i+1):
        print("*",end = ' ')
    for j in range(i):
        print('*',end = ' ')
    print()

enter the number of rows = 10
                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [26]:
list(range(0))

[]

In [32]:
for i in range(6):
    for j in range(i,6,2):
        print("*",end= ' ')
    print('\n')

* * *

* * *

* *

* *

*

*

In [29]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [30]:
list(range(0,6,2))

[0, 2, 4]

In [35]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print('',end = ' ')
    for j in range(i+1):
        print('*',end = " ")
    print()

  *
 * *
* * *

In [37]:
n = int(input('enter the number of rows ='))
n=n-1
for i in range(n):
    for j in range(i,n-1):
        print('',end = ' ')
    for j in range(i+1):
        print('*',end = " ")
    print()

enter the number of rows =5
   *
  * *
 * * *
* * * *

In [43]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(' ',end = ' ')
    for j in range(i+1):
        print('nag',end = " ")
    print()

    nag
  nag nag
nag nag nag

In [1]:
t = (3,45,56,3,6,7,8,67)

In [3]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 45
2 56
3 3
4 6
5 7
6 8
7 67

In [6]:
for i in range(0,-len(t)):
    print(i,t[i])

In [7]:
s = 'information'
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 f
3 o
4 r
5 m
6 a
7 t
8 i
9 o
10 n

In [20]:
 list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
 list(range(len(s)-1,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [30]:
# reverse indexes and straight string
for i in range(len(s)-1,-1,-1):
    print(i,s[len(s)-i-1])

10 i
9 n
8 f
7 o
6 r
5 m
4 a
3 t
2 i
1 o
0 n

In [32]:
# both indexes and string reverse
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

10 n
9 o
8 i
7 t
6 a
5 m
4 r
3 o
2 f
1 n
0 i

In [33]:
d = {'key1':"nag",'contact':'nagesh@1234','position':'engineer'}

In [36]:
d.items()

dict_items([('key1', 'nag'), ('contact', 'nagesh@1234'), ('position', 'engineer')])

In [37]:
for i in d.items():
    print(i,type(i))

('key1', 'nag') <class 'tuple'>
('contact', 'nagesh@1234') <class 'tuple'>
('position', 'engineer') <class 'tuple'>

In [38]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'nag') <class 'tuple'> <class 'str'>
('contact', 'nagesh@1234') <class 'tuple'> <class 'str'>
('position', 'engineer') <class 'tuple'> <class 'str'>

In [39]:
l = ['nagesh','meshram',12343,'nagesh@123',12,45,676,346,6789]

In [42]:
# separate the only interger in place in new list
l1=[]
for i in l:
    if type(i) == int :
        l1.append(i)

In [43]:
l1

[12343, 12, 45, 676, 346, 6789]

In [44]:
d = {1:2342,'name':'nagesh','email_id':'nagesh@1234.ai',234:"abcd","34":'gift',234:'3225'}

In [45]:
for i in d :
    print(i)

1
name
email_id
234
34

In [46]:
for i in d :
    if type(i) == int :
        print(i,":",d[i])

1 : 2342
234 : 3225

In [47]:
t = (12,4,35,46,5,46,24,6,3,6,353,34)

In [48]:
s= 'aaaabbccd'

In [57]:
a,b,c,d=0,0,0,0
for i in s:
    if i == 'a':
        a=a+1
    if i == 'b':
        b=b+1
    if i == 'd':
        d=d+1
    if i == "c":
        c=c+1
print('count of a=',a,'b=',b,'c=',c,'d=',d)

count of a= 4 b= 2 c= 2 d= 1

In [58]:
set(s)

{'a', 'b', 'c', 'd'}

In [59]:
s.count('a')

4

In [60]:
for i in set(s):
    print(i, ":",s.count(i))

c : 2
a : 4
b : 2
d : 1

In [66]:
i = 322155445
for j in str(i):
    print(j,type(int(j)))

3 <class 'int'>
2 <class 'int'>
2 <class 'int'>
1 <class 'int'>
5 <class 'int'>
5 <class 'int'>
4 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [73]:
t= ('nagesh','meshram',[1,2,3,43,45,5],(3,5,6,7),{3:3,"key1":'nage','key2':"meshram"})

In [74]:
for i in t:
     print(i)

nagesh
meshram
[1, 2, 3, 43, 45, 5]
(3, 5, 6, 7)
{3: 3, 'key1': 'nage', 'key2': 'meshram'}

In [76]:
for i in t:
    if type(i)==list or type(i)== tuple or type(i)==dict:
        for j in i:
            if j == 3:
                print(j)
    if type(i)==dict:
        print(i.values)

3
3
3
<built-in method values of dict object at 0x0000019CAAE1CF00>

In [80]:
for i in t:
    if type(i)==list or type(i)== tuple or type(i)==dict:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict :
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3
3

In [81]:
a=10
b=20
c=30

In [82]:
a,b,c=10,20,30

In [83]:
a,b,c=(10,20,30)

In [88]:
d ={1:23,12:4546,'name':'qbatao','jevlis ka':'nahi kaun t ga'}
for i,j in d.items():
    print(i,':',j)

1 : 23
12 : 4546
name : qbatao
jevlis ka : nahi kaun t ga